[submodule "themes/next"]
	path = themes/next
	url = git@github.com:NaturalWill/hexo-theme-next.git
[submodule "themes/next-reload"]
	path = themes/next-reload
	url = https://github.com/theme-next/hexo-theme-next
